#loader
  = image_tag 'loader.gif'
#ui
  .image-and-info
    .image
    .info
      .pics
        %i.fa.fa-camera
        %span.pic_amount
      .name
      .age
    .love
      Love
    .kill
      Kill
  #controls
    #like.button
      %i.fa.fa-crosshairs
    #info.button
      %i.fa.fa-info
    #dislike.button
      %i.fa.fa-heart-o
  #info-extended
    .name-and-age
      %span.name

      %span.age

    .location
      %span.shelter_name

      %span.shelter_city

    .badges
      .badge
        = image_tag 'crunked.png'
      .badge
        = image_tag 'playerplease.png'
      .badge
        = image_tag 'local.png'

= content_for :javascript do
  :javascript

    document.ontouchmove = function(event){
        event.preventDefault();
    }
    window.onload=function(){
        var baasje = new Baasje(".image-and-info", '#loader', '/json');
        baasje.init();

    }

